body{
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
    margin: 0px;
}
h1 span{
    color: #FFA500;
}
.first-part p{
    font-weight: 100;
    color: dimgray;
}
/*First Part*/
.first-part{
    height: 100vh;
    background-image: url("/assets/img/top-banner.png");
    background-repeat: no-repeat;
}
.first-part .part1{
    padding-top: 100px;
    width: 40%;
    float: left;
    margin-left: 5%;
}

.first-part .part2 {
    width: 40%;
    float: left;
    margin-right: 5%;
    padding: 2%;
}
.first-part .part2 img{
    margin-top: 50px;
    width: 100%;
}
.link-button{
    text-decoration: none;
    color: white; 
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
    background-image: linear-gradient(45deg, lightSalmon, 
    tomato);
    text-transform: uppercase;

}

/*Second Part*/
.second-part{
    background-image: url("/assets/img/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    height: 650px;
    width: 100%;
    float: left;
    margin-bottom: 100px;
}

.part3{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding: 2%;;
}
.part3 img{
    width: 100%;
}
.part4 {
    min-height: 300px;
    width: 40%;
    float: left;
    margin-right: 5%;
    padding: 100px 15px 50px 25px;
}
.part4 h1{
    margin-bottom: 30px;
}
.part4 p{
    color: dimgray;
    text-align: justify;
}

.experiences{
    background-image: url("/assets/img/exp-bg.png");
    background-repeat: no-repeat;
    background-position-y: 180px;
    height: 500px;
    width: 100%;
    float: left;
    margin-bottom: 50px;
   
}
.experiences-ceontent{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    float: left;
    background-color: white;;
}

.experiences-ceontent h1{
    font-size: 40px;
    margin-bottom: 50px;
}
.experiences-ceontent h3{
    font-size: 20px;
    color: #FFA500;
}
.experiences-ceontent p{
    text-align: justify;
    font-weight: 200;
}
.experiences-ceontent .left{
    margin-right: 5%;
    width: 40%;
    float: left;
    border-left: 10px solid #F9775F;
    padding: 10px 20px;
    height: 300px;
    box-shadow: 10px 10px 40px black;
}

.experiences-ceontent .right{
    width: 40%;
    float: left;
    border-left: 10px solid #00A5FF;
    padding: 10px 20px;
    height: 300px;
    box-shadow: 10px 10px 40px black;
}
